@font-face {
  font-family: 'PokemonFont';
  src: url('./assets/Pokemon\ GB.ttf');
}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pokeball {
  max-height: 75px;
  padding-left: 5px;
}

.button {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  background-color: red;
  color: white;
}
.button:focus {
  outline: none;
}
.button:active{
  transform: scale(0.98);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 20px;
}


.team-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.team-builder {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 900px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: red;
  border: 10px solid  #FFFFF0;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 400px;
  margin: 10px 20px;
  border-radius: 5px;
  background-color: red;
  border: 10px solid  #FFFFF0;
}
.team h2 {
  color:  #FFFFF0;
} 

.team-builder input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-family: inherit; 
}
.team-builder input:focus {
  outline: none;
}
.team-builder input::content {
  padding-left: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.form-control button {
  width: 93%;
  font-family: inherit;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
.form-control button:focus {
  outline: none;
}
.form-control button:active{
  transform: scale(0.98);
} 

.poke-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.poke-card h1 {
  color:  #FFFFF0;
}

.stats {
  max-width: 300px;
  background-color: #E8E9EB;
  border-radius: 5px;
  max-height: 200px;
  padding: 10px;
  border: 5px solid  #FFFFF0;
}

Type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.type {
  height: 40px;
  width: 90px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 8px;
  color: #E8E9EB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PokemonFont', sans-serif;;
}  